<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js');
        }
        </script>
    </head>
    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            <ul>
                <li v-for="tomato in tomatoes">
                    {{ tomato.complete }}
                </li>
            </ul>
            <div v-if="workStartedTime">
                You have been working for {{ workingTime }} seconds.
            </div>
            <button v-on:click="startWork">Start work</button>
            <button v-on:click="startPause">Start pause</button>
            <button v-on:click="finishPause">Finish pause</button>
        </div>

        <script src="js/bundle.js"></script>
    </body>
</html>
